@media screen and (min-width: 768px){
    #indexbody{
        margin-top:70px;
    }
}

@media (min-width: 768px) {
    .index-commendrow{
        padding:6px 12px 6px 12px;
    }
    .index-commendrow div{
        vertical-align: middle;
        line-height:40px;
    }
    .index-commendrow1 p{
        float:left;
        width:10%;
    }
    .index-commendrow1 a{
        float:left;
        width:22%;
    }
    .index-commendrow2 p{
        float:left;
        width:12%;
    }
    .index-commendrow3{
        float: right;
    }
}

#newsbody{
    background-color:#FFF;
}

@media (max-width:768px) {
    .index-commendrow{
        padding:6px 12px 6px 12px;
    }
    .index-commendrow div{
        width:100%;
        float:left
    }
    .index-commendrow1 p{
        float:left;
        width:20%;
    }
    .index-commendrow1 a{
        float:left;
        width:60%;
    }
    .index-commendrow2 p{
        float:left;
        width:22%;
    }
    .index-commendrow3 button{
        float: right;
        margin-left:20px;
    }
}

.index-sjjg{

}


.newsrow{
    background-color:#FFF;
}

.newstime{
    color: #808080;
    text-decoration: none;
    margin-bottom:6px;
}

.index-navline{
    width:100%;
    padding-left:20px;
    margin-top:15px;
    border-left:5px solid #009900;
    background-color:#FFF;
}

#index-concept{

}

.index-commendrow{
    border: 1px solid #e8e8e8;
    background-color:#FFF;
}

#left-concept{
    float:left;
}

#right-concept{
    float:left;
}

.pcenter{
    text-align: center;
    margin-top: 30px;
}

thead tr td{
    font-weight:bold;
}

tbody tr td{
    font-size: 15px;
}

.line-rightinfo{
    float:right;
}

.modal-tag{
    font-size: 13px;
    color: #999;
    width: 28%;
    float: left;
}

.modal-infop{
    font-size: 13px;
}

.unprice{
    color:#ff5000;
    font-weight:bold;
}

.ths_total{
    color:#CC3300;
}

.toatl-price{
    text-align:left;
    font-size: 25px;
    font-weight:bold;
}

.numinput{
    margin-bottom: 20px;
}

.text-top{
    vertical-align: top;
}

.mtop{
    margin-top: 15px;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    width:100%;
}

.footer {
    color: #444444;
    background: #f8f8f8;
    border-top: 1px solid #dfdfdf;
    min-height: 240px;
    width: 100%;
    margin-top: 0;
    clear: both;
}

.mypagination{
    text-align:center;
}

.nav-pills{
    margin-top: 15px;
}

.viewsimage{
    max-height: 180px;
    max-width: 60px;
}

.blue-title{
    text-align:center;
    color: #1b809e;
}

.nav-websitebase{
    border:1px solid #eee;
}

.nav-aselect{
    margin-left:30px;
}

.shoptitle{
    background: #158ddd;
    line-height: 45px;
    color:#FFFFFF;
    font-weight:bold;
}

.shopdetailinfo{
    border: 1px solid #eee;
    margin-top:10px;
    padding:5px 0 5px 0;
}

.shopdetailinfo:hover{
    background: #EEEEEE;
}

.shopdetailinfo div{
    vertical-align:middle;
}

.shopbtn-div{
    padding-left:10px;
}

#mins-head{
    height: 44px;
    border-bottom: 1px solid #e2e2e2;
}

.mins-headrow{
    background-color: #FFFFFF;
    height: 44px;
    width: 100%;
    display: table;
    position:fixed;
    z-index:99;
    border-bottom: 1px solid #ddd;
}

.mins-headleft{
    height: 50%;
    width: 10%;
    font-size: 16px;
    float: left;
}

.mins-headtitle{
    height: 50%;
    width: 80%;
    font-size: 16px;
    float: left;
    text-align: center;
}

.mins-headend{
    height: 50%;
    width: 10%;
    float: right;
}

.md-image{
    max-height:240px;
    max-width:148px;
}

.collectrow-right .btn{
    margin-top:8px;
}

.collectrow-left p{
    font-size: 14px;
}

.collectrow-left a{
    display: block;
    margin-bottom: 8px;
}

#personal-main{
    overflow: hidden;
    margin-bottom: 100px;
    border: 1px solid #e1e2e5;
    box-shadow: 0 2px 4px rgba(0,0,0,.14);
    border-radius: 4px;
    background-color:#fafafa;
}

#personal-head{
    height: 50px;
    border-bottom: 1px solid #ddd;
}

.personal-left{
    padding: 0 0 0 0;
}

.personal-right{
    border-left: 1px solid #ddd;
    background-color:#ffffff;
}

#personal-head .personal-left{
    display: block;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    color: #99a2aa;
    cursor: default;
    border-bottom: 1px solid #ddd;
}

#personal-head .personal-right{
    height:50px;
    position: relative;
    top: -1px;
}


#personal-head .personal-right p{
    float: left;
    margin: 15px 0 0 5px;
    color: #00a1d6;
    font-size: 16px;
    cursor: default;
}

.leftnav-row{
    width: 100%;
    height: 48px;
    list-style: none;
    line-height: 48px;
}

.leftnav-row :hover{
    background-color: #e1e4ea;
}

.leftnav-active{
    width: 100%;
    height: 48px;
    line-height: 48px;
    background-color:#00a1d7;
    list-style: none;
}

.leftnav-active p{
    font-size: 14px;
    color: #fff;
    text-align:center
}

.leftnav-row p{
    font-size: 14px;
    color: #222;
    text-align:center
}

.person-infodiv{
    position: relative;
    top: 15px;
}

.nav-header{
    display: block;
    padding: 3px 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #999;
    text-transform: uppercase;
}

.input-minus{
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #DDD;
    font-size: 14px;
}

.input-plus{
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #DDD;
    font-size: 14px;
}

#home-userflow{
    margin-bottom:20px;
}

.myaddress-line{
    margin-bottom:10px;
}

.addressmodal-message{
    margin-top:10px;
}

.product-tag{
    font-size: 13px;
    width:60px;
    float:left;
    color:#000000;
}

.product-detail{
    font-size: 13px;
    color:#9b9ea0;
}

#showflowproduct-footer p span{
    color: red;
}

.nav-websitebase{
    background-color: #FFF;
}

.commendhead{
    padding:6px 12px 6px 12px;
    line-height:30px;
    border-radius: 4px;
}
.commendhead p{
    width:10%;
    float: left;
}

#admincommend-body .admincommendrow:hover{
    border: 2px solid #4582ec;
}

.admincommendrow{
    float: left;
    width: 100%;
    padding:10px 0 10px 0;
    margin-top: 12px;
    border: 1px solid #EEE;
    border-radius: 4px;
}

.admincommendrow div{
    float: left;
}

.admin-commenddrag{
    width: 10%;
    text-align: center;
}

.admin-commendname{
    width: 20%;
}

.admin-commendline{
    width:10%;
}

.admin-commenddetail{
    width:42%;
}

.admin-commendbutton{
    width: 8%;
}

.admin-commendinput{
    width: 60%;
    text-align: center;
    border-radius: 3px;
    border: 2px solid #EEE;
    font-weight:bold;
    color: #d43f3a;
}

#newsabstract{
    height:120px;
}


