@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.jumbotron {
    padding: 48px 60px;
}

.price,
.price strong{
    color:indianred;
}

.img-rounded{
    width: 140px;
}

.num{
    float: left;
    display: inline-block;
    width: 50px;
    height: 28px;
    margin: 0;
    text-align: center;
}

.displayinline{
    display: inline-block;
}

#displayinline{
    display: inline-block;
}

.uploadli{
    display: inline-block;
    float:right;
    margin-top: 10px;
}

.rightp{
    float:right;
}

.flable{
    margin : 0px 5px 10px 15px;
}

.formdiv{
    margin-bottom:15px;
}

