<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% if nocache %}
        <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
        <meta HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate">
        <meta HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
        <meta HTTP-EQUIV="expires" CONTENT="0">
    {% endif %}

    <title>厚德板材</title>
    {% load static %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.css"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/fonts/glyphicons-halflings-regular.svg">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- 静态组建
    <script src="{% static "jquery/jquery-1.8.3.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-theme.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/fonts/glyphicons-halflings-regular.svg" %}"> -->

    <link rel="icon" href="{% static "logoico.ico" %}" type="image/x-icon" />

    <link href="{% static "bootstrap.css" %}" rel="stylesheet">
	<script src="{% static "bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js" %}"></script>
	<link href="{% static "bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
	<link href="{% static "normalize.css" %}" rel="stylesheet">
    <link href="{% static "indexstyle.css" %}" rel="stylesheet">
    <link href="{% static "mobilestyle.css" %}" rel="stylesheet">
    <link href="{% static "font_816686/iconfont.css" %}" rel="stylesheet">


    <link href="{% static "css/basictable.css" %}" rel="stylesheet">
    <!-- <link href="{% static "css/style.css" %}" rel="stylesheet"> -->
    <link href="{% static "googleloading.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery.basictable.min.js" %}"></script>
    <script src="{% static "product.js" %}"></script>
    <script src="{% static "useradmin.js" %}"></script>
    <!-- jquery filer -->
    <link rel="stylesheet" type="text/css" href="{%  static "jqueryfiler/css/jquery.filer.css" %}">
    <link rel="stylesheet" type="text/css" href="{%  static "jqueryfiler/css/themes/jquery.filer-dragdropbox-theme.css" %}">
    <script src="{% static "jqueryfiler/js/jquery.filer.min.js" %}"></script>

    <!-- Bootstrap Select -->
    <script src="{% static "Bootstrap-select/js/bootstrap-select.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{%  static "Bootstrap-select/dist/css/bootstrap-select.css" %}">


    <script src="https://cdn.bootcss.com/sweetalert/2.1.2/sweetalert.min.js"></script>


</head>

{% block body %}
{% endblock %}


</html>