{% extends "wxbase.html" %}
{% block mainbody %}

{% if message %}
    <div id="messageinfo">
        <div id='myAlert' class='alert alert-warning'>
            <a href='#' class='close' data-dismiss='alert'>&times;</a>
            <p><strong>{{ message }}</strong></p>
        </div>
    </div>
{% endif %}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-sm-4 col-sm-offset-4">
            <form class="form-horizontal" role="button" method="post">
                {% csrf_token %}
                <div class="blue-title h4"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>找回密码</div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input name="username" type="text" class="form-control" id="username" placeholder="用户名">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input name="phonenumber" type="text" class="form-control" id="phonenumber" placeholder="手机号码">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-7 col-xs-6">
                        <input id="bfsendcheck" name="bfsendcheck" type="text" class="form-control" placeholder="验证码">
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <img id="check_code_img" src="/create_code_img/" onclick="refresh_check_code(this)">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-7 col-xs-6">
                        <input name="checkcode" type="text" class="form-control" id="checkcode" placeholder="手机验证码">
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <button id="btn_sendcode" type="button" class="btn btn-default" onclick="resetpassword_sendcode()">获取验证码</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary btn-block">重置密码</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% load static %}
<script src="{% static "useradmin.js" %}"></script>
<script>
    function refresh_check_code(ths) {
    ths.src += '?'
}
</script>

{% endblock %}