{% extends "wxbase.html" %}

{% block mainbody %}
{% load static %}
{% csrf_token %}
<!-------   轮播图  --------->
<div class="row" style="margin-top:20px;">
    <div class="col-sm-10 col-sm-offset-1">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for advinfo in advinfo_table %}
             {% if forloop.counter0 == 0 %}
                <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
             {% else %}
                <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"></li>
             {% endif %}
            {% endfor %}
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            {% for advinfo in advinfo_table %}
                <div class=
                {% if forloop.counter0 == 0 %}
                'item active'
                {% else %}
                'item'
                {% endif %}
                >
                    <img src="{{ advinfo.Advimg|cut:"HdWxShop" }}" alt="{{ advinfo.Advtitle }}">
                    <div class="carousel-caption">
                        <h3>{{ advinfo.Advtitle }}</h3>
                    </div>
                </div>
            {% endfor %}
            </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span>
        </a>
    </div>
</div>


<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="index-navline">
            <p class="lead">
                <span><strong>服务范围&nbsp/&nbsp</strong></span>设计、加工一体化服务！
            </p>
        </div>
        <div class="index-sjjg">
            <img src="{% static "indeximg1.jpg" %}">
            <img  src="{% static "indeximg2.jpg" %}">
            <img src="{% static "indeximg3.png" %}">
        </div>
        <div class="index-navline">
            <p class="lead">
                <span><strong>产品理念&nbsp/&nbsp</strong></span>集成化生产、绿色节能、健康环保。
            </p>
        </div>
        <div id="index-concept">
            <div id="left-concept">
                <img src="{% static "indeximg5.png" %}">
            </div>
            <div id="right-concept">
                <div class="mobile-imagediv">
                    <img src="{% static "indeximg6.png" %}">
                </div>
                <div class="mobile-imagediv">
                    <img src="{% static "indeximg7.png" %}">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="index-navline">
            <p class="lead">
                <span><strong>产品推荐&nbsp/&nbsp</strong></span>
            </p>
        </div>
        <div id="p-commend">

        </div>
    </div>
</div>


<!----------------- buyModal 模态框 ------------------->
<div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col-sm-5">
				<img id="modal-img" class="img-thumbnail" src="" style="width: 460px">
			</div>
			<div class="col-sm-7">
				<p id="p-uprice" class="price"></p>
                <p id="p-thick"></p>
                <p id="p-size"></p>
                <p id="p-protlevel"></p>
                <p id="p-nmun"></p>
				<form class="form-inline">
					<div class="form-group">
							<label for="productnum" class="control-label">购入数量:</label>
							<input type="text" class="form-control numinput" id="productnum" value="1">
					</div>
				</form>
			</div>
		</div>
        <div id="errorinfo" style="display:none;">

        </div>
      <div class="modal-footer">
          <div class="row">
              <div class="col-sm-4">
                  <p class="toatl-price"><small>合计:￥&nbsp&nbsp</small><strong id="h3-total" style="color:indianred"></strong></p>
              </div>
              <div class="col-sm-8">
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                  <button id="btn_addshoppingcart" type="button" dataid="" class="btn btn-primary" onclick="ajax_addshopingcart(this,'buy')">加入购物车</button>
              </div>
          </div>
      </div>
	 </div>
    </div>
  </div>
</div>



<div id="infomodal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="infomodal_title" class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p id="infomodal_message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href='/website/shoppingcart'">前往购物车</button>
      </div>
	</div>
  </div>
</div>

<script src="{% static "product.js" %}"></script>
<script>
    function get_indexcommend() {
        $.ajax({
        url: '/freshen_commend/',
        type: 'GET',
        dataType: 'text',
        success: function (data) {
            $('#p-commend').html(data)
        }
        })
    }

get_indexcommend()


$('#productnum').bind('input propertychange',total_buymodal);

	function total_buymodal(){
        try {
            var tprice = $("#unprice_value").text();
            var buynum = $('#productnum').val();
            document.getElementById('h3-total').innerHTML = buynum * tprice;
        }
        catch (err) {
            document.getElementById('h3-total').innerHTML = err
        }
    }

</script>

{% endblock %}