{% extends "wxbase.html" %}

{% block mainbody %}
{% load static %}
<!-- <div class="row">
    <form class="form-inline" style="margin: 10px 0px 10px 0px;">


        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <div class="input-group input-lg col-sm-12">
                <input type="text" class="form-control" placeholder="请输入商品关键字">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </div>
    </form>
    <div class="pcenter">
        <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>联系电话: 0769-85592948  /  0769-85981088</p>
    </div>
</div> -->


<!-------   轮播图  --------->
<div class="row" style="margin-top:20px;">
    <div class="col-sm-10 col-sm-offset-1">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for advinfo in advinfo_table %}
             {% if forloop.counter0 == 0 %}
                <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
             {% else %}
                <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"></li>
             {% endif %}
            {% endfor %}
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            {% for advinfo in advinfo_table %}
                <div class=
                {% if forloop.counter0 == 0 %}
                'item active'
                {% else %}
                'item'
                {% endif %}
                >

                    <img src="{{ advinfo.Advimg|cut:"HdWxShop" }}" alt="{{ advinfo.Advtitle }}">
                    <div class="carousel-caption">
                        <h3>{{ advinfo.Advtitle }}</h3>
                    </div>
                </div>
            {% endfor %}
            </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div id="explain" class="row">

</div>

<div id="report" class="row">
    <div class="col-sm-10 col-sm-offset-1">

    </div>
</div>


<div class="row">
    <div id="newsinfo" class="col-sm-10 col-sm-offset-1">
        <div class="panel panel-info">
            <div class="panel-heading">最新动态</div>
            <div class="panel-body">
                {% for news_info in news_table %}
                    <a href="/news/{{ news_info.id }}">[ {{ news_info.Newsclassid }} ] {{ news_info.Newstitle }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div id="commodityinfo" class="col-sm-10 col-sm-offset-1">
    {% csrf_token %}
    </div>
</div>


<!----------------- buyModal 模态框 ------------------->
<div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col-sm-5">
				<img id="modal-img" class="img-thumbnail" src="" style="width: 460px">
			</div>
			<div class="col-sm-7">
				<p id="p-uprice" class="price"></p>
                <p id="p-thick"></p>
                <p id="p-size"></p>
                <p id="p-protlevel"></p>
                <p id="p-nmun"></p>
				<form class="form-inline">
					<div class="form-group">
							<label for="productnum" class="control-label">购入数量:</label>
							<input type="text" class="form-control" id="productnum" value="1">
					</div>
				</form>
			</div>
		</div>
        <div id="errorinfo" style="display:none;">

        </div>
      <div class="modal-footer">
			<h3><small>合计:</small><strong id="h3-total" style="color:indianred"></strong></h3>
        	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        	<button id="btn_addshoppingcart" type="button" dataid="" class="btn btn-primary" onclick="ajax_addshopingcart(this,'buy')">加入购物车</button>
      </div>
	 </div>
    </div>
  </div>
</div>


<div id="infomodal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="infomodal_title" class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p id="infomodal_message"></p>
      </div>
      <div class="modal-footer">
		<button type="button" class="btn btn-primary" onclick="window.location.href='/website/shoppingcart'">前往购物车</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
	</div>
  </div>
</div>



<link href="{% static "index.css" %}" rel="stylesheet">
<script src="{% static "product.js" %}"></script>

<script>



function freshen_indexcominfo() {
    $.ajax({
        url: '/freshen_indexcominfo/',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            var maindom = document.getElementById('commodityinfo');
            for (var pclass in data) {
                if (data[pclass].length > 0) {
                    var classdom = document.createElement("blockquote");
                    classdom.innerHTML = "<p>" + pclass + "</p>";
                    maindom.append(classdom);
                    var tabledom = document.createElement("table");
                    var tbodydom = document.createElement("tbody");
                    var trstring = "";
                    tabledom.className = 'commoditytable';
                    tabledom.innerHTML = "<thead><tr><th>品牌</th><th>名称</th><th>厚度</th><th>尺寸</th><th>环保等级</th><th>单位</th>" +
                        "<th>单价</th><th>每件数量</th><th>库存</th><th>操作</th></tr></thead>";
                    for (var i = data[pclass].length - 1; i >= 0; i--) {
                        if(data[pclass][i]['iscollect'] === 1){
                            var collect = "<button type='button' class='btn btn-success' dataid='" + data[pclass][i]['detailid'] + "' onclick=\"ajax_addcollect(this,'del')\" data-loading-text='Loading...'><span class='glyphicon glyphicon-star' aria-hidden='true'></span>已收藏</button>";
                        }else{
                            var collect = "<button type='button' class='btn btn-warning' dataid='" + data[pclass][i]['detailid'] + "' onclick=\"ajax_addcollect(this,'add')\" data-loading-text='Loading...'><span class='glyphicon glyphicon-star-empty' aria-hidden='true'></span>收藏&nbsp&nbsp&nbsp&nbsp</button>";
                        }
                        trstring += "<tr><td>" + data[pclass][i]['brand'] + "</td>" +
                            "<td><p class='productname' onclick=\"location.href='/shop/product/" + data[pclass][i]['detailid'] + "'\">" +
                            data[pclass][i]['product'] + "</p></td>" +
                            "<td>" + data[pclass][i]['thick'] + "</td>" +
                            "<td>" + data[pclass][i]['disize'] + "</td>" +
                            "<td>" + data[pclass][i]['protlevel'] + "</td>" +
                            "<td>" + data[pclass][i]['dunit'] + "</td>" +
                            "<td> <strong class='unprice'>￥" + data[pclass][i]['unprice'] + "<strong></td>" +
                            "<td>" + data[pclass][i]['unmun'] + "</td>" +
                            "<td>" + data[pclass][i]['inventory'] + "</td>" +
                            /* write button modal info */
                            "<td>" + "<button data-toggle='modal' data-target='#buyModal' type='button' class='btn btn-primary'" +
                            "data-title='" + data[pclass][i]['product'] + "' " +
                            "data-price='" + data[pclass][i]['unprice'] + "' " +
                            "data-dataid='" + data[pclass][i]['detailid'] + "' " +
                            "data-thick='" + data[pclass][i]['thick'] + "' " +
                            "data-codsize='" + data[pclass][i]['disize'] + "' " +
                            "data-protlevel='" + data[pclass][i]['protlevel'] + "' " +
                            "data-unit='" + data[pclass][i]['dunit'] + "' " +
                            "data-Unum='" + data[pclass][i]['unmun'] + "' " +
                            "data-inventory='" + data[pclass][i]['inventory'] + "' " +
                            "data-pimg='" + data[pclass][i]['pimg'] + "' " +
                            "><span class='glyphicon glyphicon-shopping-cart' aria-hidden='true'></span>加入购物车</button>" +
                            collect +
                            "</td></tr>";
                    }
                    tbodydom.innerHTML = trstring;
                    tabledom.append(tbodydom);
                    maindom.append(tabledom);
                }
            }
            $('.commoditytable').basictable();

        }
    })
}



function total_buymodal(){
    try {
        var tprice = $("#unprice_value").text();
        var buynum = $('#productnum').val();
        document.getElementById('h3-total').innerHTML = buynum * tprice;
    }
    catch (err) {
        document.getElementById('h3-total').innerHTML = err
    }
}

$('#productnum').bind('input propertychange',total_buymodal);
freshen_indexcominfo();

</script>


{% endblock %}
