{% extends "base.html" %}
{% block body %}
<body>
    <div class="container" >
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>欢迎登录</h3>
                            		<p>请输入您的帐号密码:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                  <form role="form" action="" method="post" class="login-form">
								{% csrf_token %}
								<div class = "from-group">
									<label  for="username">用户名</label>
									<div id = "login_user">{{ login_forms.username }}</div>
								</div>
								<div class = "from-group">
									<label for="password">密码</label>
									{{ login_forms.password }}
								</div>
									{% if checkcode_error %}
									<div class = "from-group">
										<label></label>
										<div class = "alert alert-danger" role="alert">
											{{ checkcode_error }}
										</div>
									</div>
									{% endif %}
                                <div class="checkbox">
                                    <label>
                                        {{ login_forms.remember_me }}<span>记住我的登录状态</span>
                                    </label>
                                </div>
								<div class="from-group">
									<div id = "login_user_requesterror" role="alert">
										{% if errors %}
										<div class = "alert alert-danger" role="alert">
											注册验证失败,存在以下错误:
												{{ errors }}
										</div>
										{% endif %}
									</div>
								</div>
								<div>
									<p>  </p>
								</div>
			                     <button type="submit" class="btn">登录</button>
                              <div class="from-group" style="margin-top:10px">
                                  <a href="/register/user/" style="margin-right:5px">免费注册</a>
                                  <a href="/resetpassword/">忘记密码</a>
                                  <a href="/index/" style="float:right;"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>&nbsp&nbsp返回主页</a>
                              </div>
			                    </form>
		                    </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                        	<h3>使用第三方登录:</h3>
                        	<div class="social-login-buttons">
                                <a class="btn btn-link-2" href="{{ wechatlogin_url }}">
                                    <i class="icon iconfont icon-ico_wechat"></i>&nbsp&nbsp微信
                                </a>
                        	</div>
                        </div>
                    </div>
                </div>

	{% load static %}
	<link href="{% static "login/css/style.css" %}" rel="stylesheet">
    <link href="{% static "login/css/form-elements.css" %}" rel="stylesheet">
    <link href="{% static "login/font-awesome/css/font-awesome.css" %}" rel="stylesheet">
    <script src="{% static "login/js/jquery.backstretch.min.js" %}"></script>
    <script src="{% static "login/js/scripts.js" %}"></script>

</body>
{% endblock %}

