{% extends "mobilepersonalbase.html" %}
{% block mpbase %}

<div class="panel panel-default">
  <!-- Default panel contents -->
    <div class="panel-heading"><p>您的购物车</p></div>
    {% csrf_token %}
  <!-- Table -->
    {% for aproduct in shoppingcart %}
        <div class="mobilesc-aproduct">
            <div class="row">
                <div class="mobilesc-detailinfo col-xs-7">
                    <a href="/shop/product/{{ aproduct.detail.id }}"><strong>{{ aproduct.info.CommName }}</strong></a>
                    <div class="data_tr">
                        <p class="scdetail_total"><span class="ths_total"></span></p>
                        <span class="input-plus" onclick="inputcount(this,'re')"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></span>
                        <input class="num" name="num" unprice="{{ aproduct.cart.ScunPrice }}" type="text" value="{{ aproduct.cart.ScNum }}">
                        <span class="input-minus" onclick="inputcount(this,'add')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span>
                        <p><span class="userflow-flag">单价：</span>￥{{ aproduct.cart.ScunPrice }}</p>
                        <p><span class="userflow-flag">品牌：</span>&nbsp{{ aproduct.cart.Codbrand }}</p>
                        <p><span class="userflow-flag">厚度：</span>&nbsp{{ aproduct.detail.Codthick }}</p>
                        <p><span class="userflow-flag">尺寸：</span>&nbsp{{ aproduct.detail.CodSize }}</p>
                        <p><span class="userflow-flag">环保等级：</span>&nbsp{{ aproduct.detail.Cod_Protlevel }}</p>
                        <p><span class="userflow-flag">单件包装量：</span>&nbsp{{ aproduct.detail.CodUnmun }}{{ aproduct.detail.CodUnit }}</p>
                        <button scid="{{ aproduct.cart.id }}" class="btn btn-danger" style="display:none"></button>
                    </div>
                </div>
                <div class="mobile-detailimg col-xs-5">
                    <img src="{{ aproduct.info.Commimg|cut:"HdWxShop" }}" alt="{{ aproduct.info }}" class="img-thumbnail img-rounded">
                    <button class="btn btn-danger mobile-delsc" type="button" scid="{{ aproduct.cart.id }}"  onclick="ajax_addshopingcart(this,'del')">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

        </div>
    {% endfor %}
  <div class="panel-footer">
      <div class="row">
          <div class="col-sm-10 col-xs-6">
              <h4><small>合计:</small><strong class="unprice" id="total"></strong></h4>
          </div>
          <div class="col-sm-2 col-xs-6">
              <button id="uploadorder" type="button" class="btn btn-primary" onclick="submitorder()"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>提交订单</button>
          </div>
      </div>
  </div>
</div>



<script>
    fresh_sum();
    $("input").bind('input propertychange',fresh_sum);

    function fresh_sum(){
    var alltotal = 0;
    var total_dom = document.getElementById('total');
    var tr_doms = document.getElementsByClassName('data_tr');
    for(var i=tr_doms.length-1;i>=0;i--){
        var tr_inputdom = tr_doms[i].getElementsByClassName('num')[0];
        var input_num = tr_inputdom.value;
        var input_unprice = tr_inputdom.getAttribute('unprice');
        var ths_total = input_num * input_unprice;
        tr_doms[i].getElementsByClassName('ths_total')[0].innerHTML = '￥' + String(ths_total);
        alltotal += ths_total
    }
        total_dom.innerHTML = '￥' + String(alltotal)
}

    onload=function(){
        navfooteractive('nav-scicon');
    }
</script>

{% endblock %}