{% extends "wxbase.html" %}

{% block mainbody %}

<div class="page-header" id="blog">
                    <div class="col-md-8">
                        <div>
                            <div class="row">
                                <div class="col-xs-12">
                                    {% if newslist_table %}
                                    {% for news_info in newslist_table %}
                                    <h3 class="text-primary"><a href="/news/{{ news_info.id }}">[ {{ news_info.Newsclassid }} ] {{ news_info.Newstitle }}</a></h3>
                                    <p class="text-justify">
                                        {{ news_info.Newsbody | truncatechars:100 }}
                                    </p>
                                    <!-- button class="btn btn-default" type="button" style="background-color: #4B4B4B; color: #fff;">MORE</button> -->
                                    <!-- <div class="text-center">
                                        <a href="#"><span class="glyphicon glyphicon-plus"></span>Full Story</a>&nbsp; &nbsp; &nbsp;
                                        <a href="#"><span class="glyphicon glyphicon-comment"></span>12 Comments</a>&nbsp; &nbsp; &nbsp;
                                        <a href="#"><span class="glyphicon glyphicon-share"></span>11 Shares</a>
                                    </div> -->
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if max_page != 0 %}
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                            <li>
                                <a href="?page={{ page_previous }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                </a>
                                </li>
                                {% for ipage in page_no %}
                                <li><a href="?page={{ ipage }}">{{ ipage }}</a></li>
                                {% endfor %}
                                <li>
                                <a href="?page={{ page_next }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            </ul>
                        </nav>
                        {% endif %}
                    </div>

                    <div class="row">
                    <div class="col-md-4">
                        <!-- <img class="img-responsive" src="images/image10.jpg" style="padding-top:20px;"> -->
                        <div class="list-group">
                            <a href="#" class="list-group-item disabled">
                                新闻分类
                            </a>
                            {% for newscls in newscls_table %}
                            <a href="/mainnews/{{ newscls.id }}" class="list-group-item" >{{ newscls.Nclassname }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
