{% extends "wxbase.html" %}
{% block mainbody %}
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1" id="personal-main">
            <div class="row" id="personal-head">
                <div class="col-sm-2 personal-left">
                    <p>个人中心</p>
                </div>
                <div class="col-sm-10 personal-right">
                    <p id="personal-title">{{ title }}</p>
                </div>
            </div>
            <div class="row" id="personal-bottom">
                <ul class="col-sm-2 personal-left">
                    {% if title == '个人主页' %}
                        <li class="leftnav-active" onclick="window.location.href='/website/home/';">
                            <p>个人主页</p>
                        </li>
                    {% else %}
                        <li class="leftnav-row" onclick="window.location.href='/website/home/';">
                            <p>个人主页</p>
                        </li>
                    {% endif %}
                    {% if title == '个人信息' %}
                        <li class="leftnav-active" onclick="window.location.href='/website/userinfo/';">
                            <p>个人信息</p>
                        </li>
                    {% else %}
                        <li class="leftnav-row" onclick="window.location.href='/website/userinfo/';">
                            <p>个人信息</p>
                        </li>
                    {% endif %}
                    {% if title == '购物车' %}
                        <li class="leftnav-active" onclick="window.location.href='/website/shoppingcart/';">
                            <p>购物车</p>
                        </li>
                    {% else %}
                        <li class="leftnav-row" onclick="window.location.href='/website/shoppingcart/';">
                            <p>购物车</p>
                        </li>
                    {% endif %}
                    {% if title == '我的订单' %}
                        <li class="leftnav-active" onclick="window.location.href='/website/shoppingflow/';">
                            <p>我的订单</p>
                        </li>
                    {% else %}
                        <li class="leftnav-row" onclick="window.location.href='/website/shoppingflow/';">
                            <p>我的订单</p>
                        </li>
                    {% endif %}
                    {% if title == '收藏夹' %}
                        <li class="leftnav-active" onclick="window.location.href='/website/collect/';">
                            <p>收藏夹</p>
                        </li>
                    {% else %}
                        <li class="leftnav-row" onclick="window.location.href='/website/collect/';">
                            <p>收藏夹</p>
                        </li>
                    {% endif %}
                    {% if title == '历史订单' %}
                        <li class="leftnav-active" onclick="window.location.href='/website/history/';">
                            <p>历史订单</p>
                        </li>
                    {% else %}
                        <li class="leftnav-row" onclick="window.location.href='/website/history/';">
                            <p>历史订单</p>
                        </li>
                    {% endif %}
                </ul>
                <div class="col-sm-10 personal-right">
                    <div class="person-infodiv">
                        {% block pbase %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

