{% for aflow in flowlist %}
    <div class="col-sm-4 userflow-row">
        <div class="userflow-head">
            <p><span class="userflow-flag">订单号:</span>{{ aflow.flowinfo.flowid }}</p>
        </div>
        <div class="userflow-info">
            <div class="row">
                <div class="col-xs-7">
                    <p><span class="userflow-flag">状态:&nbsp&nbsp</span>
                        <span>
                            <strong>
                                {% if aflow.flowinfo.Sfstatus <  3 %}
                                    订单审核中
                                {% elif aflow.flowinfo.Sfstatus ==  3 %}
                                    待确认
                                {% elif aflow.flowinfo.Sfstatus ==  4 %}
                                    待付款
                                {% elif aflow.flowinfo.Sfstatus ==  5 %}
                                    出货中
                                {% elif aflow.flowinfo.Sfstatus ==  6 %}
                                    已出货
                                {% elif aflow.flowinfo.Sfstatus ==  7 %}
                                    已完成
                                {% endif %}
                            </strong>
                        </span>
                    </p>
                    <p><span class="userflow-flag">总价:</span><span>￥{{ aflow.total }}</span></p>
                    <p><span class="userflow-flag">邮费:</span><span>￥{{ aflow.flowinfo.SfCarryPrice }}</span></p>
                </div>
                <div class="col-xs-5">
                    <form class="personinfo-flowbutton" method="POST" role="form" action="/website/shoppingflow/">
                        {% csrf_token %}
                        <input name="hipflowid" value="{{ aflow.flowinfo.id }}" type="hidden">
                        {% if aflow.flowinfo.Sfstatus == 3 %}
                            <button type="button" class="btn btn-success" onclick="submit_sure(this,'确认操作？','确认后请等待工作人员处理。')"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp&nbsp确认订单</button>
                        {% endif %}
                        {% if aflow.flowinfo.Sfstatus == 6 %}
                            <button type="button" class="btn btn-success" onclick="submit_sure(this,'确认操作？','确认后请等待工作人员处理。')"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>&nbsp&nbsp确认收货</button>
                        {% endif %}
                    <button type="button" class="btn btn-info" onclick="window.location.href='/website/shoppingflow/{{ aflow.flowinfo.id }}'"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp&nbsp查看详情</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}



