{% extends "base.html" %}

{% block body %}

<script>
$(document).ready(function(){
    $("input#id_username").blur(ajax_check_user);
});

function ajax_check_user() {
    var csrf_value = $("input[name='csrfmiddlewaretoken']").val();
    var uname = $("input#id_username").val();

    $.ajax({
        url: '/register/user/usercheck/',
        type: 'POST',
        data: {
            'csrfmiddlewaretoken': csrf_value,
            'username': uname
        },
        dataType:'json',
        success:function (data) {
            if (data.code === 1) {
                $("div#register_user").attr("class","form-group has-success");
				$("div#register_user_showerror").attr('class','');
				$("div#register_user_showerror").text('')
            } else if (data.code === 98) {
                $("div#register_user").attr('class',"form-group has-error");
				$("div#register_user_showerror").attr('class','alert alert-danger');
				$("div#register_user_showerror").text('此用户名已被注册')
            }   else if (data.code === 99) {
                $("div#register_user").attr('class',"form-group has-error");
				$("div#register_user_showerror").attr('class','alert alert-danger');
				$("div#register_user_showerror").text('用户名格式有误')
            }
        }
    })
}

function refresh_check_code(ths) {
    ths.src += '?'
}


</script>

<div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>免费注册</h3>
                            		<p>请输入您的帐号与密码:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                  <form role="form" action="" method="post" class="login-form">
								{% csrf_token %}
								<div class = "from-group">
									<label  for="username">用户名</label>
									<div id = "register_user">{{ registeruser_forms.username }}</div>
									<div id = "register_user_showerror" role="alert"></div>
								</div>
								<div class = "from-group">
									<label for="password">密码</label>
									{{ registeruser_forms.password }}
								</div>
								<div class = "from-group">
									<label  for="password_again">确认密码</label>
									{{ registeruser_forms.password_again }}
								</div>
								<div class = "from-group">
									<label  for="check_code">验证码</label>
									<div class="row">
                     					<div class="col-xs-7">
                         					<input type="text" class="form-control" name="check_code" id="check_code" placeholder="请输入验证码">
                     					</div>
										<div class="col-xs-5">
											 <img id="check_code_img" src="/create_code_img/" onclick="refresh_check_code(this)">
										</div>
									</div>
									{% if checkcode_error %}
									<div class = "from-group">
										<label></label>
										<div class = "alert alert-danger" role="alert">
											{{ checkcode_error }}
										</div>
									</div>
									{% endif %}
								<div class="from-group">
									<div id = "register_user_requesterror" role="alert">
										{% if errors %}
										<div class = "alert alert-danger" role="alert">
											注册验证失败,存在以下错误:
												{{ errors }}
										</div>
										{% endif %}
									</div>
								</div>
								</div>
								<div>
									<p>  </p>
								</div>
			                     <button type="submit" class="btn btn-primary btn-lg btn-block">注册</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>

	{% load static %}
	<link href="{% static "login/css/style.css" %}" rel="stylesheet">
    <link href="{% static "login/css/form-elements.css" %}" rel="stylesheet">
    <link href="{% static "login/font-awesome/css/font-awesome.css" %}" rel="stylesheet">
    <script src="{% static "login/js/jquery.backstretch.min.js" %}"></script>
    <script src="{% static "login/js/scripts.js" %}"></script>
{% endblock %}

