{% extends "personalbase.html" %}

{% block pbase %}

{% for myflow in myshoppingflow_tables %}
<div class="panel panel-default">
  
  <div class="panel-heading">
      <small>订单号:&nbsp&nbsp{{ myflow.flowinfo.flowid }}</small><small class="line-rightinfo">购买日期:&nbsp&nbsp{{ myflow.flowinfo.SfCreatetime|date:"Y-m-d H:i:s" }}</small>
  </div>

  <table class="table" >
        <tr>
            <td class="hidden-xs">图片</td>
            <td>商品名称</td>
            <td>数量</td>
            <td>总价格</td>
            <td>参看详情</td>
        </tr>
        {% for aproductinfo in myflow.productinfos %}
        <tr class="data_tr">
            <td class="hidden-xs"><img src="{{ aproductinfo.shoppinginfoid.Commimg|cut:"HdWxShop" }}" alt="{{ aproductinfo.shoppinginfoid }}" class="img-rounded md-image"></td>
            <td><a href="/shop/product/{{ aproductinfo.shoppingdetailid.id }}">{{ aproductinfo.shoppinginfoid }}</a></td>
            <td>{{ aproductinfo.sfpnum }}</td>
            <td>￥<span class="ths_total">{{ aproductinfo.sfpsumprice }}</span></td>
            <td><button data-toggle="modal" data-target="#detailModal" type="button" class="btn btn-info"
            data-func="{{ aproductinfo.shoppingdetailid.Codfunction }}" data-brand="{{ aproductinfo.shoppingdetailid.Codbrand }}"
            data-unprice="{{ aproductinfo.sfpunPrice }}" data-unit="{{ aproductinfo.sfpUnit }}" data-thick="{{ aproductinfo.sfpthick }}"
            data-psize="{{ aproductinfo.sfpSize }}" data-protlevel="{{ aproductinfo.sfp_Protlevel }}" data-Unmun="{{ aproductinfo.sfpUnmun }}" data-mytitle="{{ aproductinfo.shoppinginfoid }}"
            data-imgurl="{{ aproductinfo.shoppinginfoid.Commimg|cut:"HdWxShop" }}">详情信息</button></td>
        </tr>
        {% endfor %}
  </table>

  <div class="panel-footer">
     <div class="row">
      <div class="col-sm-9">
        <p>地址:  {{ myflow.flowinfo.SfAddress }}</p>
        <p>备注:  {{ myflow.flowinfo.SfRemark }}</p>
        <p>订单状态: <strong>{{ myflow.flowinfo.get_Sfstatus_display }}</strong></p>
      </div>
      <div class="col-sm-3">
          <form method="POST" role="form">
            {% csrf_token %}
            <input name="hipflowid" value="{{ myflow.flowinfo.id }}" type="hidden">
            <h4><small>总价:&nbsp&nbsp&nbsp&nbsp￥</small><strong class="ths_total" id="total">{{ myflow.total }}</strong></h4>
            {% if  myflow.flowinfo.SfCarryPrice > 0 %}
                <p>(包含运费:￥{{ myflow.flowinfo.SfCarryPrice }})</p>
            {% endif %}
            {% if myflow.flowinfo.Sfstatus == 3 %}
                <button type="button" class="btn btn-success" onclick="submit_sure(this,'确认操作？','确认后请等待工作人员处理。')"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp&nbsp确认订单</button>
            {% endif %}
            {% if myflow.flowinfo.Sfstatus == 6 %}
                <button type="button" class="btn btn-success" onclick="submit_sure(this,'确认操作？','确认后请等待工作人员处理。')"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>&nbsp&nbsp确认收货</button>
            {% endif %}
          </form>
      </div>
    </div>
    </div>
</div>
{% endfor %}


<!----------------- buyModal 模态框 ------------------->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col-sm-5">
				<img id="modal-img" class="img-thumbnail" src="" style="width: 460px">
			</div>
			<div class="col-sm-7">
                <p class="modal-infop"><span class="modal-tag">品牌:</span><span id="p-brand"></span></p>
                <p class="modal-infop"><span class="modal-tag">功能:</span><span id="p-func"></span></p>
                <p class="modal-infop"><span class="modal-tag">单价:</span><span id="p-uprice" class="price"></span></p>
                <p class="modal-infop"><span class="modal-tag">厚度:</span><span id="p-thick"></span></p>
                <p class="modal-infop"><span class="modal-tag">尺寸:</span><span id="p-size"></span></p>
                <p class="modal-infop"><span class="modal-tag">环保等级:</span><span id="p-protlevel"></span></p>
                <p class="modal-infop"><span class="modal-tag">单件包装量:</span><span id="p-nmun"></span></p>
			</div>
		</div>
      <div class="modal-footer">
        	<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
	 </div>
    </div>
  </div>
</div>



<script>
    $('#detailModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var func = button.data('func');
        var brand = button.data('brand');
        var mytitle = button.data('mytitle');
        var unprice = button.data('unprice');
        var unit = button.data('unit');
        var thick = button.data('thick');
        var psize = button.data('psize');
        var protlevel = button.data('protlevel');
        var Unmun = button.data('unmun');
        var imgurl = button.data('imgurl');
        var docstrong = document.createElement("strong");
        docstrong.innerHTML = unprice;
        docstrong.style.color = "indianred";
        docstrong.id = "unprice_value";

        var modal = $(this);
        modal.find('.modal-title').text(mytitle);
        modal.find('#p-func').html('&nbsp' + String(func));
        modal.find('#p-brand').html('&nbsp' +String(brand));
        modal.find('#p-uprice').html('￥').append(docstrong);
        modal.find('#p-thick').html('&nbsp' +String(thick));
        modal.find('#p-size').html('&nbsp' + String(psize));
        modal.find('#p-protlevel').html('&nbsp' +String(protlevel));
        modal.find('#p-nmun').html('&nbsp' + String(Unmun) + unit);
        modal.find('.img-thumbnail').attr('src',imgurl);
    })
 </script>


{% endblock %}