 <div class="row hidden-xs shoptitle">
        <div class="col-sm-1">品牌</div>
        <div class="col-sm-1">类型</div>
        <div class="col-sm-2">名称</div>
        <div class="col-sm-1">厚度</div>
        <div class="col-sm-1">尺寸</div>
        <div class="col-sm-1">环保等级</div>
        <div class="col-sm-1">单价</div>
        <div class="col-sm-1">每件数量</div>
        <div class="col-sm-1">库存</div>
        <div class="col-sm-2">操作</div>
</div>
    {% for adetail in return_list %}
        <div class="row shopdetailinfo">
            <div class="col-sm-1 col-xs-2"><span class="label label-success">{{ adetail.brank }}</span></div>
            <div class="col-sm-1 hidden-xs">{{ adetail.clsname }}</div>
            <div class="col-sm-2"><a class="btn btn-link" onclick="window.location.href='product/{{ adetail.detailid }}'"><strong>{{ adetail.product }}</strong></a></div>
            <div class="col-sm-1 col-xs-5"><p class="visible-xs-inline">厚度:</p>{{ adetail.thick }}</div>
            <div class="col-sm-1 col-xs-7"><p class="visible-xs-inline">尺寸:</p>{{ adetail.dsize }}</div>
            <div class="col-sm-1 col-xs-12"><p class="visible-xs-inline">环保等级:</p>{{ adetail.protlevel }}</div>
            <div class="col-sm-1 col-xs-5"><p style="color:indianred">￥{{ adetail.unprice }}</p></div>
            <div class="col-sm-1 col-xs-5 hidden-xs">{{ adetail.unmun }}</div>
            <div class="col-sm-1 col-xs-7"><p class="visible-xs-inline">库存:</p>{{ adetail.inventory }}{{ adetail.unit }}</div>
            <div class="col-sm-2 col-xs-12 shopbtn-div">
                <div class="row">
                    <div class="col-sm-7 col-xs-6"><button data-toggle="modal" data-target="#buyModal" type="button" class="btn btn-primary" data-title="{{ adetail.product }}" data-price= "{{ adetail.unprice }}" data-dataid="{{ adetail.detailid }}"
								    data-thick="{{ adetail.thick }}" data-codsize ="{{ adetail.dsize }}" data-protlevel="{{ adetail.protlevel }}" data-unit="{{ adetail.dunit }}" data-Unum="{{ adetail.unmun }}"
								    data-inventory="{{ adetail.inventory }}" data-pimg="{{ adetail.pimg }}">
							        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">加入购物车</span>
						        </button></div>
                    <div class="col-sm-4 col-xs-6">
                    {% if  adetail.iscollect  ==  1 %}
                        <button type="button" class="btn btn-success" dataid="{{ adetail.detailid }}" onclick="ajax_addcollect(this,'del')" data-loading-text="Loading..."><span class="glyphicon glyphicon-star" aria-hidden="true"></span>已收藏</button>
                    {% else %}
                        <button type="button" class="btn btn-warning" dataid="{{ adetail.detailid }}" onclick="ajax_addcollect(this,'add')" data-loading-text="Loading..."><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>收藏</button>
                    {% endif %}
            </div>
                </div>
            </div>
        </div>
    {% endfor %}


	<nav aria-label="Page navigation" class="mypagination">
		<ul class="pagination">
        {% if details_Paginator.has_previous %}
			<li>
				<a href="#" onclick="get_productdata({{ details_Paginator.previous_page_number }},'{{ pcls }}','{{ orderby }}','{{ orderasc }}')" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
        {% endif %}

            {% for ipage in pagelist %}
                {% if ipage == page %}
                    <li class="active" ><a href="#">{{ page }}</a></li>
                {% else %}
                    <li><a href="#" onclick="get_productdata({{ ipage }},'{{ pcls }}','{{ orderby }}','{{ orderasc }}')">{{ ipage }}</a></li>
                {% endif %}
            {% endfor %}

        {% if details_Paginator.has_next %}
			<li>
				<a href="#" onclick="get_productdata({{ details_Paginator.next_page_number }},'{{ pcls }}','{{ orderby }}','{{ orderasc }}')" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
        {% endif %}
		</ul>
	</nav>







