{% extends "wxbase.html" %}

{% block mainbody %}
<div class="page-header" id="blog">

<div id="newsbody" class="row">
    <div class="col-md-8 col-md-offset-1">
        <div class="blog-post">
            <div class="row">
                    <div class="col-xs-12">
                        <h4>{{ newsinfo_table.Newstitle }}</h4>
                        <h4><small><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>{{ newsinfo_table.Newsclassid }}&nbsp&nbsp|&nbsp&nbsp<span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ newsinfo_table.NewsCreatetime }}</small></h4>
                        <hr />
                        <p>
                            {{ newsinfo_table.Newsbody | safe }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <script>
        onload=function(){
            navfooteractive('nav-newsicon');
            fresh_amount();
        }
    </script>
{% endblock %}
