{% extends "wxbase.html" %}

{% block mainbody %}
<div class="row">
    <div id="messagebody" class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                {% if messagetype == "succ" %}
                    <div class="alert alert-success" role="alert">
                {% elif messagetype == "danger" %}
                    <div class="alert alert-danger" role="alert">
                {% else %}
                    <div class="alert alert-info" role="alert">
                {% endif %}
                    <p class="lead"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp&nbsp&nbsp&nbsp&nbsp{{ message }}</p>

                    <button type="button" class="btn btn-default rightp" onclick="window.history.go(-1);" style="margin-top:20px;">返回上一页</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
