{% extends "personalbase.html" %}

{% block pbase %}

<div class="page-header">
  <h2>确认提交订单信息</h2>
</div>

<div id="errorinfo" style="display:none;">

</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
    <div class="panel-heading">以下是您的购物车信息,请再次确认您的订单,谢谢!</div>

  <!-- Table -->
  <table class="table table-striped">
    <tr>
        <td>商品名称</td>
        <td>规格</td>
        <td>数量</td>
        <td class="hidden-xs">单价</td>
        <td>总价</td>
    </tr>
    {% for aproduct in shoppingcart %}
      <tr class="data_tr">
        <td>{{ aproduct.info.CommName }}</td>
        <td>
                        品牌：{{ aproduct.cart.Codbrand }}<br>
                        厚度：{{ aproduct.detail.Codthick }}<br>
                        尺寸：{{ aproduct.detail.CodSize }}<br>
                        环保等级：{{ aproduct.detail.Cod_Protlevel }}<br>
                        单件包装量：{{ aproduct.detail.CodUnmun }}{{ aproduct.detail.CodUnit }}<br>
        </td>
        <td>{{ aproduct.cart.ScNum }}</td>
        <td class="hidden-xs">￥{{ aproduct.cart.ScunPrice }}</td>
        <td>￥{{ aproduct.cart.ScSum }}</td>
      </tr>
    {% endfor %}
  </table>
</div>

  <div class="form-group">
      <form role="button" method="post" class="submit-form">
      <div class="row" style="margin-left:10px">
            {% csrf_token %}
                <div class="row">
                    <label class="control-label col-sm-1" for="address"><h4>地址</h4></label>
                    <div class="col-sm-8">
                        <select type="text" class="form-control" id="address" name="address" placeholder="请输入您的地址" value="{{ useraddress }}"  required="False">
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <button data-toggle="modal" data-target="#adminaddressModal" type="button" class="btn btn-default">地址管理</button>
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-sm-1" for="remark"><h4>备注</h4></label>
                     <div class="col-sm-11">
                        <textarea class="form-control" rows="3" id="remark" name="remark" placeholder="备注信息"></textarea>
                     </div>
                </div>
            <div class="row" style="margin-top:10px">
                <div class="col-sm-9"><h4><small>合计:</small><span class="ths_total" id="total">￥{{ sctotal }}</span></h4></div>
                <div class="col-sm-3">
                    <button  type="button" class="btn btn-warning" onclick="javascrtpt:window.location.href='/website/shoppingcart/'"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>返回修改</button>
                    <button  type="button" class="btn btn-primary" onclick="submit_sure(this,'确认操作','请确认你所填写的信息无误。')"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>确认提交</button>
                </div>
            </div>
      </div>
      </form>
</div>

<!-- 选择地址modal -->
<div id="adminaddressModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">地址管理</h4>
            </div>
            <div id="adminaddress-content" class="modal-body">

            </div>
        </div>
    </div>
</div>

<script>
refreshen_myaddressoption();
$('#adminaddressModal').on('hide.bs.modal', function () {
    refreshen_myaddressoption();
});
</script>
{% load static %}
<script src="{% static "useradmin.js" %}"></script>

{% endblock %}