{% extends "websitebase.html" %}

{% block websitebody %}
<div class="page-header">
    <blockquote>
        <p class="lead">销售产品流水表</p>
    </blockquote>
</div>

<div class="panel panel-default">
  <div class="panel-body">
      <form class="form-inline" method="GET" role="form">
        <div class="form-group">
              <label for="lb-product" class="flable">商品</label>
              <select id="lb-product" class="form-control" name="product">
                <option value=""></option>
                {% for product in productoptions %}
                <option value="{{ product.id }}">{{ product.CommName }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group" style="margin-top: 20px">
            <label for="basic-cstime" class="flable">订单生成时间(开始)</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-cstime"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                <input name="cstime" type="text" class="form-control" aria-describedby="basic-cstime" jsw="datetimepicker" placeholder="格式:2000-01-01 12:00">
            </div>

            <label for="basic-cetime" class="flable">订单生成时间(结束)</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-cetime"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                <input name="cetime" type="text" class="form-control" aria-describedby="basic-cetime" jsw="datetimepicker" placeholder="格式:2000-01-01 12:00">
            </div>
        </div>

        <div style="margin-top: 20px">
            <input class="btn btn-primary" type="submit" name="worktype" value="查询" style="margin-left:10px">
            <input class="btn btn-primary" type="submit" name="worktype" value="导出">
        </div>

      </form>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
      <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>订单ID</td>
                <td>商品名称</td>
                <td>规格ID</td>
                <td>单位</td>
                <td>厚度</td>
                <td>尺寸</td>
                <td>环保等级</td>
                <td>每件数量</td>
                <td>单价</td>
                <td>数量</td>
                <td>总金额</td>
                <td>订单生成时间</td>
                <td>收货时间</td>
            </tr>
        </thead>
        <tbody>
        {% for pl in product_list %}
          <tr class="data">
              <td>{{ pl.shoppingendflowid.Sefflowid }}</td>
              <td>{{ pl.sefproductid.CommName }}</td>
              <td>{{ pl.sefdetailid.id }}</td>
              <td>{{ pl.sefUnit }}</td>
              <td>{{ pl.sefthick }}</td>
              <td>{{ pl.sefSize }}</td>
              <td>{{ pl.sef_Protlevel }}</td>
              <td>{{ pl.SefUnmun }}</td>
              <td class="data-unprice">{{ pl.SefunPrice }}</td>
              <td class="data-num">{{ pl.SefNum }}</td>
              <td class="data-sum">{{ pl.SefPrice }}</td>
              <td>{{ pl.shoppingendflowid.sefcreatetime|date:"Y-m-d H:i:s" }}</td>
              <td>{{ pl.shoppingendflowid.SefFinishtime|date:"Y-m-d H:i:s" }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      {% if product_list %}

          <nav class="mypagination" aria-label="Page navigation">
              <ul class="pagination">
                  {% if product_list.has_previous %}
                  <li>
                      <a href="?page={{ product_list.previous_page_number }}&product={{ productid }}&cstime={{ cstime }}&cetime={{ cetime }}&worktype=查询" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                      </a>
                  </li>
                  {% else %}
                  <li class="disabled">
                      <a class="disabled" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                      </a>
                  </li>
                  {% endif %}
                  {% for p in pagelist %}
                  {% if p == product_list.number  %}
                  <li class="active" ><a href="#">{{ p }}</a></li>
                  {% else %}
                  <li><a href="?page={{ p }}&product={{ productid }}&cstime={{ cstime }}&cetime={{ cetime }}&worktype=查询">{{ p }}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% if product_list.has_next %}
                  <li>
                      <a href="?page={{ product_list.next_page_number }}&product={{ productid }}&cstime={{ cstime }}&cetime={{ cetime }}&worktype=查询" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
                  {% else %}
                  <li class="disabled">
                      <a class="disabled" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
                  {% endif %}
              </ul>
          </nav>
          {% endif %}
      </div>
  </div>
</div>



<script type="text/javascript">
    //日期插件
    $("[jsw='datetimepicker']").datetimepicker({
    language:'cn',
    format: 'yyyy-mm-dd hh:ii',//显示格式
    todayHighlight: 1,//今天高亮
    //minView: "month",设置只显示到月份
    startView:2,
    forceParse: 0,
    showMeridian: 1,
    autoclose: 1//选择后自动关闭
});
</script>



{% endblock %}


