{% extends "websitebase.html" %}

{% block websitebody %}

<div class="page-header">
  <h2>修改商品信息</h2>
</div>

<ol class="breadcrumb">
  <li><a href="/website/adminproduct/">商品管理</a></li>
  <li id="productid" class="active">{{ productid }}</li>
</ol>


{% if message %}
    <div id="myAlert" class="alert alert-success">
	    <a href="#" class="close" data-dismiss="alert">&times;</a>
	    <strong>成功！</strong>{{ message }}
    </div>
{% endif %}


<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-horizontal" method="post" role="form" enctype="multipart/form-data">
        {% csrf_token %}
        {% load static %}
        <div class="form-group">
          <label for="productclass" class="col-sm-2 control-label">商品类别</label>
            <div class="col-sm-4">
                <select class="form-control" id="productclass" name="productclass">
                    <option value="{{ pinfo.Commclass.id }}">{{ pinfo.Commclass.CclassName }}</option>
                    {% for cls in pclass_options %}
                        {% if pinfo.Commclass.id != cls.id %}
                            <option value="{{ cls.id }}">{{ cls.CclassName }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="pname" class="col-sm-2 control-label">商品名称</label>
            <div class="col-sm-4">
                <input class="form-control" id="pname" name="pname" value="{{ pinfo.CommName }}">
            </div>
        </div>

        <div class="form-group">
            <label for="pimg" class="col-sm-2 control-label">商品图片</label>
            <div class="col-sm-10">
                <input class="form-control" id="pimg" name="pimg" type="file" multiple="multiple">
                {% if pinfo.Commimg %}
                    <img class="viewsimage" src="{{ pinfo.Commimg|cut:"HdWxShop"  }}">
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label for="pinfo" class="col-sm-2 control-label">详情图片</label>
            <div class="col-sm-10">
                <input class="form-control" id="pinfo" name="pinfo" type="file" multiple="multiple">
                {% if pinfo.CommInfo %}
                    <img class="viewsimage" src="{{ pinfo.CommInfo|cut:"HdWxShop"  }}">
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label for="logistics" class="col-sm-2 control-label">物流信息</label>
            <div class="col-sm-10">
                <input class="form-control" id="logistics_input" name="logistics" type="file" multiple="multiple">
                {% if pinfo.logisticsimg %}
                    <img class="viewsimage" src="{{ pinfo.logisticsimg|cut:"HdWxShop"  }}">
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label for="report" class="col-sm-2 control-label">检验报告</label>
            <div class="col-sm-10">
                <input class="form-control" id="report_input" name="report" type="file" multiple="multiple">
                {% if pinfo.reportimg %}
                    <img class="viewsimage" src="{{ pinfo.reportimg|cut:"HdWxShop"  }}">
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-10">
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>&nbsp&nbsp保存信息</button>
            </div>
        </div>

    </form>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">规格</div>
  <div class="panel-body">
      <div class="rightp" style="margin-bottom:8px">
        <button data-toggle="modal" data-target="#detailModal" type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp&nbsp添加规格</button>
        <button data-toggle="modal" data-target="#deldetailModal" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp&nbsp删除所选</button>
      </div>
      <div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td><input type="checkbox" id="allcb"></td>
                    <td>规格id</td>
                    <td>规格</td>
                    <td>单价</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                {% for detail in pdetails %}
                <tr>
                    <td><input class="ncheck" type="checkbox" value="{{ detail.id }}"></td>
                    <td>{{ detail.id }}</td>
                    <td class="detailinfo">{{ detail }}</td>
                    <td>{{ detail.CodunPrice }}</td>
                    <td><button  data-toggle="modal" data-target="#detailModal" type="button" class="btn btn-default" data-detailid="{{ detail.id }}"
                    data-dunit="{{ detail.CodUnit }}" data-dthick="{{ detail.Codthick }}" data-dsize="{{ detail.CodSize }}" data-dprotlevel="{{ detail.Cod_Protlevel }}"
                    data-unprice="{{ detail.CodunPrice }}" data-dinventory="{{ detail.Codinventory }}" data-dunmun="{{ detail.CodUnmun }}" data-brand="{{ detail.Codbrand }}"
                    data-func="{{ detail.Codfunction }}"
                    ><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp&nbsp编辑</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>

  </div>
</div>


<!------------------------- detail modal -------------------------------->
<div id="detailModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="infomodal_title" class="modal-title"></h4>
      </div>
      <div class="modal-body">
          <form class="form-horizontal">
              <div class="form-group">
                <label for="brand" class="col-sm-2 control-label">品牌</label>
                <div class="col-sm-10">
                    <input class="form-control" name="brand">
                </div>
              </div>
              <div class="form-group">
                <label for="func" class="col-sm-2 control-label">功能</label>
                <div class="col-sm-10">
                    <input class="form-control" name="func">
                </div>
              </div>
              <div class="form-group">
                <label for="dunit" class="col-sm-2 control-label">单位</label>
                <div class="col-sm-10">
                    <input class="form-control" name="dunit">
                </div>
              </div>
              <div class="form-group">
                <label for="dthick" class="col-sm-2 control-label" >厚度</label>
                <div class="col-sm-10">
                    <input class="form-control" name="dthick">
                </div>
              </div>
              <div class="form-group">
                <label for="dsize" class="col-sm-2 control-label" >尺寸</label>
                <div class="col-sm-10">
                    <input class="form-control" name="dsize">
                </div>
              </div>
              <div class="form-group">
                <label for="dprotlevel" class="col-sm-2 control-label" >环保等级</label>
                 <div class="col-sm-10">
                    <input  class="form-control" name="dprotlevel">
                 </div>
              </div>
              <div class="form-group">
                <label for="dnmun" class="col-sm-2 control-label" >每件数量</label>
                <div class="col-sm-10">
                    <input class="form-control" name="dnmun">
                </div>
              </div>
              <div class="form-group">
                <label for="dinventory" class="col-sm-2 control-label" >库存</label>
                 <div class="col-sm-10">
                    <input class="form-control" name="dinventory">
                 </div>
              </div>
              <div class="form-group">
                <label for="dunPrice" class="col-sm-2 control-label" >单价</label>
                 <div class="col-sm-10">
                    <input  class="form-control" name="dunPrice">
                 </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                    <label>
                        <input name="iscover" type="checkbox">  覆盖所有客户价格
                    </label>
                    </div>
                </div>
              </div>
              <div id="errorinfo" style="display:none;">

              </div>
          </form>
      </div>
      <div class="modal-footer">
		<button type="button" class="btn btn-primary" id="detail-commit">确认</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
	</div>
  </div>
</div>


<!----------------- 删除警告模态框 ------------------->
<div id="deldetailModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="delmodal_title" class="modal-title">删除</h4>
      </div>
      <div class="modal-body">
        <p class="text-danger">你确认要删除以下规格吗？<strong>删除后不可恢复!</strong></p>
        <div>
            <ol id="deldetailmodal-ol">

            </ol>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button id="btn_submitdel" type="button" class="btn btn-danger" onclick="jsdeleteproduct('del-detail')">确认删除</button>
      </div>
	</div>
  </div>
</div>



<!-- 放大图的imgModal -->
    <div class="modal fade bs-example-modal-lg text-center" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" >
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                </span>
            </button>
        </div>
        <div class="modal-dialog modal-lg" style="display: inline-block; width: auto;">
            <div class="modal-content">
                <img  id="imgInModalID" src="">
            </div>
        </div>
    </div>


<script>


$('#deldetailModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var doms_checked = document.getElementsByClassName("ncheck");
    var oldom = document.getElementById("deldetailmodal-ol");
    oldom.innerHTML = "";
    for(var i = doms_checked.length - 1; i >= 0; i--){
        if(doms_checked[i].checked){
            var lidom = document.createElement("li");
            var check_parent = doms_checked[i].parentNode.parentNode;
            var detailinfotr = check_parent.getElementsByClassName("detailinfo")[0];
            lidom.innerText= detailinfotr.innerText;
            oldom.append(lidom);
        }
    }
})

$(function(){
    $(".close").click(function(){
        $("#myAlert").alert();
    });
});

$('#report_input').filer({
    limit: 1,
    maxSize: 10,
    extensions: ['jpg', 'jpeg', 'png'],
    changeInput: true,
    showThumbs: true
});


$('#logistics_input').filer({
    limit: 1,
    maxSize: 10,
    extensions: ['jpg', 'jpeg', 'png'],
    changeInput: true,
    showThumbs: true
});

$('#pinfo').filer({
    limit: 1,
    maxSize: 10,
    extensions: ['jpg', 'jpeg', 'png'],
    changeInput: true,
    showThumbs: true
});

$('#pimg').filer({
    limit: 1,
    maxSize: 3,
    extensions: ['jpg', 'jpeg', 'png'],
    changeInput: true,
    showThumbs: true
});

</script>

{% endblock %}

