{% extends "websitebase.html" %}
{% block websitebody %}

<div class="page-header">
  <h2>修改新闻信息</h2>
</div>

<ol class="breadcrumb">
  <li><a href="/website/adminnews/">新闻管理</a></li>
  <li id="newsid" class="active">{{ newsinfo.id }}</li>
</ol>



<div class="panel panel-default">
  <div class="panel-body">
      <form class="form-horizontal" method="post" role="form" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
              <label for="newsclass" class="col-sm-2 control-label">新闻类别</label>
              <div class="col-sm-2">
                  <select class="form-control" id="newsclass" name="newsclass">
                      {% if newsinfo %}
                        <option value="{{ newsinfo.Newsclassid.id }}">{{ newsinfo.Newsclassid.Nclassname }}</option>
                      {% endif %}
                      {% for cls in newsclass_options %}
                          <option value="{{ cls.id }}">{{ cls.Nclassname }}</option>
                      {% endfor %}
                  </select>
              </div>
          </div>
          <hr />
          <div class="form-group">
              <label for="newstitle" class="col-sm-2 control-label">新闻标题</label>
              <div class="col-sm-10">
                  {% if newsinfo %}
                      <input class="form-control" id="newstitle" name="newstitle" value="{{ newsinfo.Newstitle }}">
                  {% else %}
                      <input class="form-control" id="newstitle" name="newstitle">
                  {% endif %}
              </div>
          </div>
          <hr />
          <div class="form-group">
              <label for="newsimage" class="col-sm-2 control-label">预览图片</label>
              <input class="form-control" id="newsimage" name="newsimage" type="file" multiple="multiple">
              {% if newsinfo.Newsimage %}
                  <div>{{ newsinfo.Newsimage }}</div>
              {% endif %}
          </div>
          <hr />
          <div class="form-group">
              <label for="newsabstract" class="col-sm-2 control-label">摘要</label>
              <div class="col-sm-10">
                {% if newsinfo %}
                    <textarea class="form-control" id="newsabstract" name="newsabstract" rows="2">{{ newsinfo.Newsabstract }}</textarea>
                {% else %}
                    <textarea class="form-control" id="newsabstract" name="newsabstract" rows="2"></textarea>
                {% endif %}
              </div>
          </div>
          <hr />
          <div class="form-group">
              <label for="newsbody" class="col-sm-2 control-label">新闻信息</label>
              <div class="col-sm-10">
                {% if newsinfo %}
                    <textarea id="editor_id" name="newsbody">{{ newsinfo.Newsbody }}</textarea>
                {% else %}
                    <textarea id="editor_id" name="newsbody"></textarea>
                {% endif %}
              </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-10">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>&nbsp&nbsp保存信息</button>
            </div>
          </div>
      </form>
  </div>
</div>


{% load static %}
<script src="{% static "kindeditor/kindeditor-all.js" %}"></script>
<script src="{% static "kindeditor/lang/zh-CN.js" %}"></script>

<script>
KindEditor.ready(function(k){
    window.editor = k.create('#editor_id',{
        resizeType:1,
        uploadJson : '/upload/kindeditor/',
        height:600,
        allowPreviewEmoticons : false,
        allowImageRemote : false,
        allowFileManager : true
        })
    }
)


$('#newsimage').filer({
    limit: 1,
    maxSize: 10,
    extensions: ['jpg', 'jpeg', 'png'],
    changeInput: true,
    showThumbs: true
});

</script>
{% endblock %}


