{% extends "websitebase.html" %}

{% block websitebody %}

<div class="page-header">
    <blockquote>
        <p class="lead">修改个人信息</p>
    </blockquote>
</div>


<ol class="breadcrumb">
  <li><a href="/website/adminuser/">用户管理</a></li>
  <li id="userid" class="active">{{ ths_user.id }}</li>
</ol>

<div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">个人信息</h3>
        </div>
  <div class="panel-body">

      <form class="form-horizontal" method="post" role="form">
          {% csrf_token %}
          <div class="form-group">
            <label for="userrule" class="col-sm-2 control-label">用户角色</label>
            <div class="col-sm-3">
                <select id="userrule" name="userrule" class="form-control">
                    <option value="{{ ths_userrule.Roleid.id }}">{{ ths_userrule.Roleid.Rolename }}</option>
                    {% for arole in role_options %}
                        {% if arole.id != ths_userrule.Roleid.id  %}
                            <option value="{{ arole.id }}">{{ arole.Rolename }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
          </div>

          <div class="form-group">
              <label for="username" class="col-sm-2 control-label">用户名</label>
              <div class="col-sm-6">
                  <input class="form-control" id="username" name="username" value="{{ ths_user.Username }}" readonly>
              </div>
          </div>

          <div class="form-group">
              <label for="userstatus" class="col-sm-2 control-label">状态</label>
              <div class="col-sm-3">
                 <select id="userstatus" name="userstatus" class="form-control">
                     <option value="{{ ths_user.Userstatus }}">{{ ths_user.get_Userstatus_display }}</option>
                     {% if ths_user.Userstatus != 0 %}
                        <option value="0">异常</option>
                     {% endif %}
                     {% if ths_user.Userstatus != 1 %}
                        <option value="1">正常</option>
                     {% endif %}
                     {% if ths_user.Userstatus != 2 %}
                        <option value="2">冻结</option>
                     {% endif %}
                 </select>
              </div>
          </div>

          <div class="form-group">
              <label for="userphone" class="col-sm-2 control-label">手机号码</label>
              <div class="col-sm-6">
                <input class="form-control" id="userphone" name="userphone" value="{{ ths_userbind.Userphone }}">
              </div>
          </div>

          <div class="form-group">
              <label for="useraddress" class="col-sm-2 control-label">地址</label>
              <div class="col-sm-6">
                <input class="form-control" id="useraddress" name="useraddress" value="{{ ths_userbind.UserAddress }}">
              </div>
          </div>

          {% if ths_iscust %}
              <div class="form-group">
              <label for="usercust" class="col-sm-2 control-label">销售人员</label>
              <div class="col-sm-6">
                <select name="usercust" id="usercust" class="form-control">
                {% if ths_usersale %}
                    <option value="{{ ths_usersale.Saleid.id }}">{{ ths_usersale.Saleid.Username }}</option>
                {% else %}
                    <option value="">未绑定</option>
                {% endif %}
                {% for asale in sale_options %}
                    {% if ths_usersale %}
                        {% if asale.Userid.id != ths_usersale.Saleid.id %}
                            <option value="{{ asale.Userid.id }}">{{ asale.Userid.Username }}</option>
                        {% endif %}
                    {% else %}
                        <option value="{{ asale.Userid.id }}">{{ asale.Userid.Username }}</option>
                    {% endif %}
                {% endfor %}
                </select>
              </div>
          </div>
          {% endif %}

      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" id="userinfo-commit">保存</button>
                <button data-toggle="modal" data-target="#ruleModal" type="button" class="btn btn-info">修改个人权限</button>
          </div>
      </div>
      </form>
  </div>
</div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">客户价格
            </h3>
        </div>
        <div class="panel-body">
                <table class="table table-striped">
                <thead>
                <tr>
                    <td><input type="checkbox" id="allcb"></td>
                    <td>商品名称</td>
                    <td>规格</td>
                    <td>单价</td>
                </tr>
                </thead>
                <tbody id="cptbody">

                </tbody>
            </table>

            <div class="rightp">
                <button data-toggle="modal" data-target="#addccpModal" type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp&nbsp添加单价</button>
                <button data-toggle="modal" data-target="#delusercp-Modal" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp&nbsp删除所选</button>
            </div>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">收藏夹</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>id</td>
                        <td>商品名称</td>
                        <td>规格</td>
                        <td>收藏日期</td>
                    </tr>
                </thead>
                <tbody id="custcollect-tbody">

                </tbody>
            </table>
        </div>
    </div>



<!---------  添加单价modal ------------>
<div id="addccpModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="infomodal_title" class="modal-title">添加单价</h4>
      </div>
      <div class="modal-body">
          <form class="form-horizontal">

              <div class="form-group">
                <label for="user-productname" class="col-sm-2 control-label">商品名称</label>
                <div class="col-sm-10">
                    <select class="form-control selectpicker" name="user-productname" id="user-productname" data-live-search="true">
                        <option value=""></option>
                        {% for com in commodity_options %}
                            <option value="{{ com.id }}">{{ com.CommName }}</option>
                        {% endfor %}
                    </select>
                </div>
              </div>

              <div class="form-group">
              <label for="user-productdetail" class="col-sm-2 control-label">规格</label>
                <div class="col-sm-10">
                    <select class="form-control" name="user-productdetail" id="user-productdetail">
                        <option value=""></option>

                    </select>
                </div>
              </div>

              <div class="form-group">
                <label for="user-unPrice" class="col-sm-2 control-label" >单价</label>
                 <div class="col-sm-10">
                    <input  class="form-control" name="user-unPrice">
                 </div>
              </div>

          </form>
      </div>
      <div class="modal-footer">
		<button type="button" class="btn btn-primary" id="detail-commit" onclick="setcprice('{{ ths_user.id }}')">确认</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
	</div>
  </div>
</div>



<!----------------- 删除警告模态框 ------------------->
<div id="delusercp-Modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="delmodal_title" class="modal-title">删除</h4>
      </div>
      <div class="modal-body">
        <p class="text-danger">你确认要删除以下客户单价吗？<strong>删除后不可恢复!</strong></p>
        <ol id="delcpmodal-ol">
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button id="btn_submitdel" type="button" class="btn btn-danger" onclick="deluserunprice('{{ ths_user.id }}')">确认删除</button>
      </div>
	</div>
  </div>
</div>




<!----------  修改个人权限 modal  ----------->
<div id="ruleModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">权限</h4>
      </div>
      <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="info">
                        <td>权限</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody class="ruletbody">
                    <tr>
                        <td>发布广告</td>
                        <td><input type="checkbox" value="isadv"
                                {% if ths_userrule.ReleaseAdv %}
                                    checked
                                {% endif %}
                        ></td>
                    </tr>
                    <tr>
                        <td>发布新闻</td>
                        <td><input type="checkbox" value="isnews"
                                {% if ths_userrule.ReleaseNew %}
                                    checked
                                {% endif %}
                        ></td>
                    </tr>
                    <tr>
                        <td>重要信息发布</td>
                        <td><input type="checkbox" value="isinfo"
                                {% if ths_userrule.ReleaseInfo %}
                                    checked
                                {% endif %}
                        ></td>
                    </tr>
                    <tr>
                        <td>添加商品</td>
                        <td><input type="checkbox" value="isaddp"
                                {% if ths_userrule.AddCommodity %}
                                    checked
                                {% endif %}
                        ></td>
                    </tr>
                    <tr>
                        <td>修改商品</td>
                        <td><input type="checkbox" value="ismodp"
                                {% if ths_userrule.ModCommodity %}
                                    checked
                                {% endif %}
                        ></td>
                    </tr>
                    <tr>
                        <td>添加订单</td>
                        <td><input type="checkbox" value="isaddo"
                                {% if ths_userrule.AddOrder %}
                                    checked
                                {% endif %}
                        ></td>
                    </tr>
                    <tr>
                        <td>修改订单信息</td>
                        <td><input type="checkbox" value="ismodo"
                                {% if ths_userrule.ModOrder %}
                                    checked
                                {% endif %}
                        ></td>
                    </tr>
                    <tr>
                        <td>修改订单价格</td>
                        <td><input type="checkbox" value="ismodop"
                                {% if ths_userrule.ModOrderPrice %}
                                    checked
                                {% endif %}
                        ></td>
                    </tr>
                    <tr>
                        <td>订单审批</td>
                        <td><input type="checkbox" value="isappo"
                                {% if ths_userrule.AppOrder %}
                                    checked
                                {% endif %}
                        ></td>
                    </tr>
                    <tr>
                        <td>订单确认</td>
                        <td><input type="checkbox" value="isacko"
                                {% if ths_userrule.AckOrder %}
                                    checked
                                {% endif %}
                        ></td>
                    </tr>
                    <tr>
                        <td>订单已付款</td>
                        <td><input type="checkbox" value="ispado"
                                {% if ths_userrule.PaidOrder %}
                                    checked
                                {% endif %}
                        ></td>
                    </tr>
                    <tr>
                        <td>订单出货</td>
                        <td><input type="checkbox" value="isshpo"
                                {% if ths_userrule.ShipOrder %}
                                    checked
                                {% endif %}
                        ></td>
                    </tr>
                    <tr>
                        <td>确认收货</td>
                        <td><input type="checkbox" value="isreco"
                                {% if ths_userrule.RecOrder %}
                                    checked
                                {% endif %}
                        ></td>
                    </tr>
                    <tr>
                        <td>导出历史交易信息</td>
                        <td><input type="checkbox" value="istrif"
                                {% if ths_userrule.TranInfo %}
                                    checked
                                {% endif %}
                        ></td>
                    </tr>
                    <tr>
                        <td>导出销售人员业绩</td>
                        <td><input type="checkbox" value="issalp"
                                {% if ths_userrule.SalePer %}
                                    checked
                                {% endif %}
                        ></td>
                    </tr>
                    <tr>
                        <td>导出产品汇总表</td>
                        <td><input type="checkbox" value="isprsm"
                                {% if ths_userrule.ProSummary %}
                                    checked
                                {% endif %}
                        ></td>
                    </tr>
                    <tr>
                        <td>修改用户权限</td>
                        <td><input type="checkbox" value="ismodu"
                                {% if ths_userrule.ModRule %}
                                    checked
                                {% endif %}
                        ></td>
                    </tr>
                    <tr>
                        <td>设置客户价格</td>
                        <td><input type="checkbox" value="isstcp"
                                {% if ths_userrule.setcustprice %}
                                    checked
                                {% endif %}
                        ></td>
                    </tr>
                </tbody>
            </table>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button id="btn_changerule" type="button" class="btn btn-primary" onclick="ajax_changerule('modrule')">确认</button>
      </div>
	</div>
  </div>
</div>


<!----------------- 信息模态框 ------------------->
<div id="infomodal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="infomodal_title" class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p id="infomodal_message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
	</div>
  </div>
</div>


{% load static %}
<script src="{% static "useradmin.js" %}"></script>
<script>

freshen_taprice({{ ths_user.id }});
fresh_custcollect({{ ths_user.id }});
</script>


{% endblock %}
