{% extends "websitebase.html" %}

{% block websitebody %}

<div class="page-header">
    <blockquote>
        <p class="lead">我的客户</p>
    </blockquote>
</div>

{% csrf_token %}
<div class="panel panel-default">
  <div class="panel-body">
      <form class="form-inline" method="GET" role="form">
            <div class="form-group">
                <label for="basic-username" class="flable">用户名</label>
                <input name="username" id="basic-username" type="text" class="form-control" aria-describedby="basic-username" placeholder="请输入用户名关键字...">
            </div>

            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp&nbsp搜索</button>
            <div class="rightp">
                <a data-toggle="modal" data-target="#bindcustmodal" type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>绑定新客户</a>
            </div>
      </form>

  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
      <table class="table table-striped">
          <thead>
            <tr>
                <td><input type="checkbox" id="allcb"></td>
                <td>用户名</td>
                <td>昵称</td>
                <td>最近登录时间</td>
                <td>操作</td>
            </tr>
          </thead>
          <tbody>
            {% for acust in cust_list %}
            <tr>
                <td><input class="ncheck" type="checkbox" value="{{ acust.Customerid.id }}"></td>
                <td>{{ acust.Customerid.userid }}</td>
                <td><a href="/website/saleadmin/{{ acust.Customerid.userid.id }}">{{ acust.Customerid.Username }}</a></td>
                <td>{{ acust.Customerid.userid.last_login }}</td>
                <td><button data-toggle="modal" data-target="#unbindModal" type="button" class="btn btn-danger" data-custid="{{ acust.Customerid.userid.id }}" data-custname="{{ acust.Customerid.Username }}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp&nbsp解除绑定</button>
                </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>

  {% if cust_list %}
          <nav class="mypagination" aria-label="Page navigation">
              <ul class="pagination">
                  {% if cust_list.has_previous %}
                  <li>
                      <a href="?page={{ cust_list.previous_page_number }}&rulename={{ custid }}&username={{ username }}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                      </a>
                  </li>
                  {% else %}
                  <li class="disabled">
                      <a class="disabled" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                      </a>
                  </li>
                  {% endif %}
                  {% for p in pagelist %}
                  {% if p == cust_list.number  %}
                  <li class="active" ><a href="#">{{ p }}</a></li>
                  {% else %}
                  <li><a href="?page={{ p }}&rulename={{ custid }}&username={{ username }}">{{ p }}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% if cust_list.has_next %}
                  <li>
                      <a href="?page={{ cust_list.next_page_number }}&rulename={{ custid }}&username={{ username }}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
                  {% else %}
                  <li class="disabled">
                      <a class="disabled" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
                  {% endif %}
              </ul>
          </nav>
    {% endif %}

  </div>
</div>

<!----------------- 绑定新客户模态框 ------------------->
<div id="bindcustmodal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">绑定新客户</h4>
      </div>
      <div class="modal-body">
         <form class="form-horizontal">
              <div class="form-group">
                <label for="user-productname" class="col-sm-2 control-label">用户</label>
                <div class="col-sm-10">
                    <select class="form-control selectpicker" name="sale-custid" id="user-custname" data-live-search="true">
                        <option value=""></option>
                        {% for arule in custoptions %}
                            <option value="{{ arule.Userid.id }}">{{ arule.Userid.Username }}</option>
                        {% endfor %}
                    </select>
                </div>
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="detail-commit" onclick="salebindcust()">确认</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
	</div>
  </div>
</div>

<!----------------- 解除绑定模态框 ------------------->
<div id="unbindModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="delmodal_title" class="modal-title">删除</h4>
      </div>
      <div id="unbind-modalbody" class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button id="btn_unbindcust" type="button" class="btn btn-danger">确认删除</button>
      </div>
	</div>
  </div>
</div>

{% load static %}
<script src="{% static "useradmin.js" %}"></script>
{% endblock %}

