{% extends "base.html" %}
{% block body %}

<body>
    {% load static %}
    <div class="hidden-xs">
	    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	    <div class="container-fluid">
	    	<div class="navbar-header">
	    		<button type="button" class="navbar-toggle" data-toggle="collapse"
	    			data-target="#example-navbar-collapse">
	    			<span class="sr-only">切换导航</span>
	    			<span class="icon-bar"></span>
	    			<span class="icon-bar"></span>
	    			<span class="icon-bar"></span>
	    		</button>
                <img src="{% static "weblogo.png" %}">
            	<!-- <a class="navbar-brand">厚德木业</a> -->
	    	</div>
	    <div class="collapse navbar-collapse" id="example-navbar-collapse">
	    	<p class="navbar-text navbar-right">
	    		{% if login_username  %}
	    		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>Welcome! {{ login_username }} |
	    		<a href="/logout" class="navbar-link">注销</a>&nbsp&nbsp&nbsp&nbsp
	    		{% else %}
	    		<span class="glyphicon glyphicon-user" aria-hidden="true"></span>Sign in
	    		<a href="/login" class="navbar-link">登录/</a>
	    		<a href="/register/user" class="navbar-link">注册</a>&nbsp&nbsp&nbsp&nbsp
	    		{% endif %}
	    	<ul class="nav navbar-nav">
	    		<li><a href="/index">主页</a></li>
                <li><a href="/shop">商城</a></li>
	    		<li><a href="/mainnews">新闻</a></li>
	    		<li><a href="/website/home">我的</a></li>
	    	</ul>
	    </div>
	    </div>
        </nav>
    </div>

    <div id="indexbody">
 	    {% block mainbody %}
	    {% endblock %}
    </div>


<footer class="footer">
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <address>
                <strong>Inc.</strong><br>
                东莞市 厚街镇 AAAA<br>
                C 123456<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
        </div>
        <div class="col-sm-6">
            <address>
                <strong>Full Name</strong><br>
                <a href="mailto:#">first.last@example.com</a>
            </address>
        </div>
    </div>
</footer>

<div class="visible-xs">
    <div class="navfooter">
    <div class="navfooter-nav" id="nav-indexicon">
        <a>
            <div class="nav-icon">
                <span class="glyphicon glyphicon-home" aria-hidden="true" onclick="window.location.href='/index/';"></span>
            </div>
            <p>主页</p>
        </a>
    </div>
    <div class="navfooter-nav" id="nav-shopicon">
        <a>
            <div class="nav-icon">
                <span class="glyphicon glyphicon-list" aria-hidden="true" onclick="window.location.href='/shop/';"></span>
            </div>
            <p>商城</p>
        </a>
    </div>
    <div class="navfooter-nav" id="nav-newsicon">
        <a>
            <div class="nav-icon">
                <span class="glyphicon glyphicon-folder-close" aria-hidden="true" onclick="window.location.href='/mainnews/';"></span>
            </div>
            <p>资讯</p>
        </a>
    </div>
    <div class="navfooter-nav" id="nav-scicon" style="position: relative">
        <a>
            <span class="" id="showAmount">0</span>
            <div class="nav-icon">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" onclick="window.location.href='/website/shoppingcart/';"></span>
            </div>
            <p>购物车</p>
        </a>
    </div>
    <div class="navfooter-nav" id="nav-psicon">
        <a>
            <div class="nav-icon">
                <span class="glyphicon glyphicon-user" aria-hidden="true" onclick="window.location.href='/website/home/';"></span>
            </div>
            <p>我的</p>
        </a>
    </div>
</div>

</div>

</body>

{% endblock %}

